<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Lab: Working with a real world data-set using SQL and Python</font></h1>

# Introduction

This notebook shows how to work with a real world dataset using SQL and Python. In this lab you will:
1. Understand the dataset for Chicago Public School level performance 
1. Store the dataset in an Db2 database on IBM Cloud instance
1. Retrieve metadata about tables and columns and query data from mixed case columns
1. Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012) 

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true

Now download a static copy of this database and review some of its contents:
https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv

### Store the dataset in a Table
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called __SCHOOLS__.

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database
Let us now load the ipython-sql  extension and establish a connection with the database

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name/
%sql ibm_db_sa://hcg90289:bw10zlmgx7crb-gb@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: hcg90289@BLUDB'

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [17]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='Db2-bo'
%sql select * from SYSCAT.TABLES where TABNAME = 'CENSUS'
# %sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
#      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('HCG90289', 'CENSUS', 'HCG90289', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2018, 12, 1, 18, 40, 11, 703528), datetime.datetime(2018, 12, 1, 18, 40, 11, 703528), datetime.datetime(2018, 12, 1, 18, 40, 11, 703528), datetime.datetime(2018, 12, 1, 18, 44, 20, 340642), 9, 6, 788, 78, 1, 0, 2, -1, -1, -1, 0, 'hcg90289space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2018, 12, 1, 18, 40, 11, 703528), 0, ' ', None, None, 'N', 'HCG90289', ' ', ' ', ' ', datetime.date(2018, 12, 3), ' ', 'N', 'R', 'N', -1.0, None)]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.TABLES contains the table metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [4]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('79'),)]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [23]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'
# %sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CENSUS'
# %sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'CRIME'

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('School_ID', 'INTEGER', 4),
 ('Name_of_School', 'VARCHAR', 65),
 ('Elementary, Middle, or High School', 'VARCHAR', 2),
 ('Street_Address', 'VARCHAR', 30),
 ('City', 'VARCHAR', 7),
 ('State', 'VARCHAR', 2),
 ('ZIP_Code', 'INTEGER', 4),
 ('Phone_Number', 'VARCHAR', 14),
 ('Link', 'VARCHAR', 78),
 ('Network_Manager', 'VARCHAR', 40),
 ('Collaborative_Name', 'VARCHAR', 34),
 ('Adequate_Yearly_Progress_Made_', 'VARCHAR', 3),
 ('Track_Schedule', 'VARCHAR', 12),
 ('CPS_Performance_Policy_Status', 'VARCHAR', 16),
 ('CPS_Performance_Policy_Level', 'VARCHAR', 15),
 ('Healthy_Schools_Certified_', 'VARCHAR', 3),
 ('Safety_Icon', 'VARCHAR', 11),
 ('Safety_Score', 'SMALLINT', 2),
 ('Family_Involvement_Icon', 'VARCHAR', 11),
 ('Family_Involvement_Score', 'VARCHAR', 3),
 ('Environment_Icon', 'VARCHAR', 11),
 ('Environment_Score', 'SMALLINT', 2),
 ('Instruction_Icon', 'VARCHAR', 11),
 ('Instruction_Score', 'SMALLINT', 2),
 ('Leaders_Icon', 'VARCHAR', 11),
 ('Leaders_Score', 'VARCHAR', 3),
 ('Teachers_Icon', 'VARCHAR', 11),
 ('Teachers_Score', 'VARCHAR', 3),
 ('Parent_Engagement_Icon', 'VARCHAR', 7),
 ('Parent_Engagement_Score', 'VARCHAR', 3),
 ('Parent_Environment_Icon', 'VARCHAR', 7),
 ('Parent_Environment_Score', 'VARCHAR', 3),
 ('Average_Student_Attendance', 'DECIMAL', 4),
 ('Rate_of_Misconducts__per_100_students_', 'DECIMAL', 5),
 ('Students_Passing__Algebra__', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('Net_Change_EXPLORE_and_PLAN', 'VARCHAR', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('Net_Change_PLAN_and_ACT', 'VARCHAR', 3),
 ('College_Eligibility__', 'VARCHAR', 4),
 ('Graduation_Rate__', 'VARCHAR', 4),
 ('College_Enrollment_Rate__', 'VARCHAR', 4),
 ('College_Enrollment__number_of_students_', 'SMALLINT', 2),
 ('General_Services_Route', 'SMALLINT', 2),
 ('Freshman_on_Track_Rate__', 'VARCHAR', 4),
 ('RCDTS_Code', 'BIGINT', 8),
 ('X_COORDINATE', 'DECIMAL', 13),
 ('Y_COORDINATE', 'DECIMAL', 13),
 ('Latitude', 'DECIMAL', 18),
 ('Longitude', 'DECIMAL', 18),
 ('Community_Area_Number', 'SMALLINT', 2),
 ('Community_Area_Name', 'VARCHAR', 22),
 ('Ward', 'SMALLINT', 2),
 ('Police_District', 'SMALLINT', 2),
 ('Location', 'VARCHAR', 27),
 ('Average_Teacher_Attendance', 'DECIMAL', 4),
 ('Individualized_Education_Program_Compliance_Rate', 'DECIMAL', 5),
 ('Pk_2_Literacy__', 'VARCHAR', 4),
 ('Pk_2_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr3_5_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Gr3_5_Keep_Pace_Math__', 'VARCHAR', 4),
 ('Gr6_8_Grade_Level_Math__', 'VARCHAR', 4),
 ('Gr6_8_Grade_Level_Read__', 'VARCHAR', 4),
 ('Gr6_8_Keep_Pace_Math_', 'VARCHAR', 4),
 ('Gr6_8_Keep_Pace_Read__', 'VARCHAR', 4),
 ('Gr_8_Explore_Math__', 'VARCHAR', 4),
 ('Gr_8_Explore_Read__', 'VARCHAR', 4),
 ('ISAT_Exceeding_Math__', 'DECIMAL', 4),
 ('ISAT_Exceeding_Reading__', 'DECIMAL', 4),
 ('ISAT_Value_Add_Math', 'DECIMAL', 3),
 ('ISAT_Value_Add_Read', 'DECIMAL', 3),
 ('ISAT_Value_Add_Color_Math', 'VARCHAR', 6),
 ('ISAT_Value_Add_Color_Read', 'VARCHAR', 6),
 ('Students_Taking__Algebra__', 'VARCHAR', 4)]

Double-click __here__ for the solution.

<!-- Solution:

%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

-->

### Questions
1. Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
1. What is the "Community Area Name" field called in your table? Have the spaces " " between the words been replaced by some other character?
1. Have the paranthesis (round brackets) in the "College Enrollment (number of students)" attribute been replaced by some other character? 
1. Are there any columns in whose names the spaces and paranthesis (round brackets) have not been replaced by the underscore character "_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [22]:
%sql select count(*) from CRIME where "Location_Description" = 'GAS STATION'

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

Double-click __here__ for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'?
-->

Double-click __here__ for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [24]:
%sql select MAX("Safety_Score") AS MAX_SAFETY_SCORE from SCHOOLS

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(99,)]

Double-click __here__ for a hint

<!--
Use the MAX() function
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql select MAX("Safety_Score") AS MAX_SAFETY_SCORE from SCHOOLS
Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [15]:
%sql select "Name_of_School", "Safety_Score" from SCHOOLS where \
  "Safety_Score"= (select MAX("Safety_Score") from SCHOOLS)

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 99),
 ('Alexander Graham Bell Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Sauganash Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

Double-click __here__ for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select "Name_of_School", "Safety_Score" from SCHOOLS where "Safety_Score" = 99

or, a better way:

%sql select "Name_of_School", "Safety_Score" from SCHOOLS where \
  "Safety_Score"= (select MAX("Safety_Score") from SCHOOLS)

Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [25]:
%sql select "Community_Area_Name", "College_Enrollment__number_of_students_" from SCHOOLS \
    order by "Community_Area_Name"

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', 266),
 ('ALBANY PARK', 1023),
 ('ALBANY PARK', 1299),
 ('ALBANY PARK', 919),
 ('ALBANY PARK', 359),
 ('ALBANY PARK', 1490),
 ('ALBANY PARK', 269),
 ('ALBANY PARK', 1239),
 ('ARCHER HEIGHTS', 3320),
 ('ARCHER HEIGHTS', 1503),
 ('ARMOUR SQUARE', 302),
 ('ARMOUR SQUARE', 492),
 ('ARMOUR SQUARE', 664),
 ('ASHBURN', 1324),
 ('ASHBURN', 490),
 ('ASHBURN', 537),
 ('ASHBURN', 1032),
 ('ASHBURN', 543),
 ('ASHBURN', 658),
 ('ASHBURN', 243),
 ('ASHBURN', 1656),
 ('AUBURN GRESHAM', 602),
 ('AUBURN GRESHAM', 418),
 ('AUBURN GRESHAM', 237),
 ('AUBURN GRESHAM', 482),
 ('AUBURN GRESHAM', 323),
 ('AUBURN GRESHAM', 512),
 ('AUBURN GRESHAM', 402),
 ('AUBURN GRESHAM', 538),
 ('AUBURN GRESHAM', 359),
 ('AUBURN GRESHAM', 302),
 ('AUSTIN', 316),
 ('AUSTIN', 250),
 ('AUSTIN', 377),
 ('AUSTIN', 1111),
 ('AUSTIN', 301),
 ('AUSTIN', 354),
 ('AUSTIN', 182),
 ('AUSTIN', 297),
 ('AUSTIN', 605),
 ('AUSTIN', 393),
 ('AUSTIN', 458),
 ('AUSTIN', 554),
 ('AUSTIN', 490),
 ('AUSTIN', 576),
 ('AUSTIN', 565),
 ('AUSTIN', 93),
 ('AUSTIN', 726),
 ('AUSTIN', 658),
 ('AUSTIN', 524),
 ('AUSTIN', 460),
 ('AUSTIN', 422),
 ('AUSTIN', 811),
 ('AUSTIN', 410),
 ('AVALON PARK', 398),
 ('AVALON PARK', 291),
 ('AVALON PARK', 833),
 ('AVONDALE', 644),
 ('AVONDALE', 860),
 ('AVONDALE', 1195),
 ('AVONDALE', 941),
 ('BELMONT CRAGIN', 634),
 ('BELMONT CRAGIN', 1415),
 ('BELMONT CRAGIN', 1890),
 ('BELMONT CRAGIN', 1001),
 ('BELMONT CRAGIN', 949),
 ('BELMONT CRAGIN', 1499),
 ('BELMONT CRAGIN', 1334),
 ('BELMONT CRAGIN', 1520),
 ('BELMONT CRAGIN', 1139),
 ('BELMONT CRAGIN', 826),
 ('BELMONT CRAGIN', 1423),
 ('BELMONT CRAGIN', 756),
 ('BEVERLY', 274),
 ('BEVERLY', 762),
 ('BEVERLY', 317),
 ('BEVERLY', 283),
 ('BRIDGEPORT', 600),
 ('BRIDGEPORT', 283),
 ('BRIDGEPORT', 535),
 ('BRIDGEPORT', 365),
 ('BRIDGEPORT', 1384),
 ('BRIGHTON PARK', 691),
 ('BRIGHTON PARK', 792),
 ('BRIGHTON PARK', 1038),
 ('BRIGHTON PARK', 867),
 ('BRIGHTON PARK', 1834),
 ('BRIGHTON PARK', 510),
 ('BRIGHTON PARK', 1032),
 ('BRIGHTON PARK', 2883),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 264),
 ('CALUMET HEIGHTS', 328),
 ('CALUMET HEIGHTS', 26),
 ('CALUMET HEIGHTS', 188),
 ('CALUMET HEIGHTS', 474),
 ('CALUMET HEIGHTS', 288),
 ('CHATHAM', 652),
 ('CHATHAM', 459),
 ('CHATHAM', 766),
 ('CHATHAM', 199),
 ('CHATHAM', 306),
 ('CHATHAM', 384),
 ('CHATHAM', 328),
 ('CHATHAM', 1535),
 ('CHATHAM', 413),
 ('CHICAGO LAWN', 531),
 ('CHICAGO LAWN', 823),
 ('CHICAGO LAWN', 604),
 ('CHICAGO LAWN', 891),
 ('CHICAGO LAWN', 1777),
 ('CHICAGO LAWN', 1390),
 ('CHICAGO LAWN', 1070),
 ('CLEARING', 137),
 ('CLEARING', 590),
 ('CLEARING', 872),
 ('CLEARING', 486),
 ('DOUGLAS', 483),
 ('DOUGLAS', 215),
 ('DOUGLAS', 306),
 ('DOUGLAS', 249),
 ('DOUGLAS', 258),
 ('DOUGLAS', 1456),
 ('DOUGLAS', 269),
 ('DOUGLAS', 590),
 ('DOUGLAS', 453),
 ('DOUGLAS', 266),
 ('DOUGLAS', 125),
 ('DUNNING', 784),
 ('DUNNING', 601),
 ('DUNNING', 502),
 ('DUNNING', 1004),
 ('DUNNING', 834),
 ('DUNNING', 843),
 ('EAST GARFIELD PARK', 551),
 ('EAST GARFIELD PARK', 411),
 ('EAST GARFIELD PARK', 364),
 ('EAST GARFIELD PARK', 328),
 ('EAST GARFIELD PARK', 726),
 ('EAST GARFIELD PARK', 323),
 ('EAST GARFIELD PARK', 293),
 ('EAST GARFIELD PARK', 518),
 ('EAST GARFIELD PARK', 599),
 ('EAST GARFIELD PARK', 434),
 ('EAST GARFIELD PARK', 362),
 ('EAST GARFIELD PARK', 194),
 ('EAST GARFIELD PARK', 234),
 ('EAST SIDE', 632),
 ('EAST SIDE', 813),
 ('EAST SIDE', 1524),
 ('EAST SIDE', 928),
 ('EAST SIDE', 1408),
 ('EDGEWATER', 709),
 ('EDGEWATER', 977),
 ('EDGEWATER', 423),
 ('EDGEWATER', 438),
 ('EDGEWATER', 1053),
 ('EDGEWATER', 1000),
 ('EDISON PARK', 650),
 ('EDISON PARK', 260),
 ('ENGLEWOOD', 539),
 ('ENGLEWOOD', 302),
 ('ENGLEWOOD', 301),
 ('ENGLEWOOD', 343),
 ('ENGLEWOOD', 365),
 ('ENGLEWOOD', 808),
 ('ENGLEWOOD', 561),
 ('ENGLEWOOD', 355),
 ('ENGLEWOOD', 262),
 ('ENGLEWOOD', 464),
 ('ENGLEWOOD', 334),
 ('ENGLEWOOD', 733),
 ('ENGLEWOOD', 369),
 ('ENGLEWOOD', 291),
 ('ENGLEWOOD', 440),
 ('ENGLEWOOD', 44),
 ('ENGLEWOOD', 321),
 ('FOREST GLEN', 468),
 ('FOREST GLEN', 549),
 ('FOREST GLEN', 414),
 ('FULLER PARK', 224),
 ('FULLER PARK', 307),
 ('GAGE PARK', 1021),
 ('GAGE PARK', 581),
 ('GAGE PARK', 1382),
 ('GAGE PARK', 1052),
 ('GAGE PARK', 970),
 ('GAGE PARK', 1222),
 ('GAGE PARK', 1846),
 ('GAGE PARK', 1186),
 ('GAGE PARK', 376),
 ('GAGE PARK', 279),
 ('GARFIELD RIDGE', 1589),
 ('GARFIELD RIDGE', 733),
 ('GARFIELD RIDGE', 1161),
 ('GARFIELD RIDGE', 705),
 ('GARFIELD RIDGE', 364),
 ('GRAND BOULEVARD', 436),
 ('GRAND BOULEVARD', 550),
 ('GRAND BOULEVARD', 329),
 ('GRAND BOULEVARD', 274),
 ('GRAND BOULEVARD', 324),
 ('GRAND BOULEVARD', 244),
 ('GRAND BOULEVARD', 411),
 ('GRAND BOULEVARD', 241),
 ('GREATER GRAND CROSSING', 310),
 ('GREATER GRAND CROSSING', 551),
 ('GREATER GRAND CROSSING', 182),
 ('GREATER GRAND CROSSING', 458),
 ('GREATER GRAND CROSSING', 448),
 ('GREATER GRAND CROSSING', 537),
 ('GREATER GRAND CROSSING', 476),
 ('GREATER GRAND CROSSING', 417),
 ('GREATER GRAND CROSSING', 352),
 ('GREATER GRAND CROSSING', 320),
 ('HEGEWISCH', 633),
 ('HEGEWISCH', 330),
 ('HERMOSA', 800),
 ('HERMOSA', 1252),
 ('HERMOSA', 862),
 ('HERMOSA', 1061),
 ('HUMBOLDT PARK', 801),
 ('HUMBOLDT PARK', 549),
 ('HUMBOLDT PARK', 828),
 ('HUMBOLDT PARK', 828),
 ('HUMBOLDT PARK', 893),
 ('HUMBOLDT PARK', 593),
 ('HUMBOLDT PARK', 429),
 ('HUMBOLDT PARK', 445),
 ('HUMBOLDT PARK', 349),
 ('HUMBOLDT PARK', 883),
 ('HUMBOLDT PARK', 831),
 ('HUMBOLDT PARK', 505),
 ('HUMBOLDT PARK', 686),
 ('HYDE PARK', 340),
 ('HYDE PARK', 403),
 ('HYDE PARK', 533),
 ('HYDE PARK', 654),
 ('IRVING PARK', 2366),
 ('IRVING PARK', 363),
 ('IRVING PARK', 688),
 ('IRVING PARK', 672),
 ('IRVING PARK', 638),
 ('IRVING PARK', 937),
 ('IRVING PARK', 1015),
 ('IRVING PARK', 650),
 ('IRVING PARK', 435),
 ('JEFFERSON PARK', 574),
 ('JEFFERSON PARK', 1181),
 ('KENWOOD', 550),
 ('KENWOOD', 325),
 ('KENWOOD', 915),
 ('KENWOOD', 112),
 ('KENWOOD', 1852),
 ('KENWOOD', 222),
 ('KENWOOD', 311),
 ('LAKE VIEW', 307),
 ('LAKE VIEW', 572),
 ('LAKE VIEW', 569),
 ('LAKE VIEW', 611),
 ('LAKE VIEW', 690),
 ('LAKE VIEW', 923),
 ('LAKE VIEW', 1500),
 ('LAKE VIEW', 432),
 ('LAKE VIEW', 729),
 ('LAKE VIEW', 257),
 ('LAKE VIEW', 465),
 ('LINCOLN PARK', 813),
 ('LINCOLN PARK', 576),
 ('LINCOLN PARK', 2342),
 ('LINCOLN PARK', 481),
 ('LINCOLN PARK', 605),
 ('LINCOLN PARK', 558),
 ('LINCOLN PARK', 240),
 ('LINCOLN SQUARE', 451),
 ('LINCOLN SQUARE', 695),
 ('LINCOLN SQUARE', 864),
 ('LINCOLN SQUARE', 1532),
 ('LINCOLN SQUARE', 590),
 ('LOGAN SQUARE', 586),
 ('LOGAN SQUARE', 622),
 ('LOGAN SQUARE', 619),
 ('LOGAN SQUARE', 1125),
 ('LOGAN SQUARE', 786),
 ('LOGAN SQUARE', 455),
 ('LOGAN SQUARE', 864),
 ('LOGAN SQUARE', 690),
 ('LOGAN SQUARE', 504),
 ('LOGAN SQUARE', 352),
 ('LOGAN SQUARE', 748),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 1683),
 ('LOWER WEST SIDE', 916),
 ('LOWER WEST SIDE', 501),
 ('LOWER WEST SIDE', 409),
 ('LOWER WEST SIDE', 286),
 ('LOWER WEST SIDE', 656),
 ('LOWER WEST SIDE', 426),
 ('LOWER WEST SIDE', 636),
 ('LOWER WEST SIDE', 709),
 ('LOWER WEST SIDE', 447),
 ('LOWER WEST SIDE', 588),
 ('MCKINLEY PARK', 321),
 ('MCKINLEY PARK', 389),
 ('MCKINLEY PARK', 631),
 ('MCKINLEY PARK', 211),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 204),
 ('MORGAN PARK', 342),
 ('MORGAN PARK', 588),
 ('MORGAN PARK', 553),
 ('MORGAN PARK', 1584),
 ('MOUNT GREENWOOD', 245),
 ('MOUNT GREENWOOD', 579),
 ('MOUNT GREENWOOD', 358),
 ('MOUNT GREENWOOD', 909),
 ('NEAR NORTH SIDE', 314),
 ('NEAR NORTH SIDE', 363),
 ('NEAR NORTH SIDE', 396),
 ('NEAR NORTH SIDE', 444),
 ('NEAR NORTH SIDE', 242),
 ('NEAR NORTH SIDE', 881),
 ('NEAR NORTH SIDE', 722),
 ('NEAR SOUTH SIDE', 446),
 ('NEAR SOUTH SIDE', 137),
 ('NEAR SOUTH SIDE', 795),
 ('NEAR WEST SIDE', 556),
 ('NEAR WEST SIDE', 100),
 ('NEAR WEST SIDE', 606),
 ('NEAR WEST SIDE', 475),
 ('NEAR WEST SIDE', 366),
 ('NEAR WEST SIDE', 784),
 ('NEAR WEST SIDE', 21),
 ('NEAR WEST SIDE', 461),
 ('NEAR WEST SIDE', 478),
 ('NEAR WEST SIDE', 250),
 ('NEAR WEST SIDE', 351),
 ('NEAR WEST SIDE', 398),
 ('NEAR WEST SIDE', 482),
 ('NEAR WEST SIDE', 2166),
 ('NEAR WEST SIDE', 217),
 ('NEAR WEST SIDE', 264),
 ('NEW CITY', 556),
 ('NEW CITY', 476),
 ('NEW CITY', 539),
 ('NEW CITY', 915),
 ('NEW CITY', 357),
 ('NEW CITY', 461),
 ('NEW CITY', 473),
 ('NEW CITY', 845),
 ('NEW CITY', 679),
 ('NEW CITY', 797),
 ('NEW CITY', 466),
 ('NEW CITY', 896),
 ('NEW CITY', 462),
 ('NORTH CENTER', 4368),
 ('NORTH CENTER', 232),
 ('NORTH CENTER', 998),
 ('NORTH CENTER', 200),
 ('NORTH CENTER', 495),
 ('NORTH CENTER', 668),
 ('NORTH CENTER', 580),
 ('NORTH LAWNDALE', 171),
 ('NORTH LAWNDALE', 315),
 ('NORTH LAWNDALE', 409),
 ('NORTH LAWNDALE', 298),
 ('NORTH LAWNDALE', 556),
 ('NORTH LAWNDALE', 220),
 ('NORTH LAWNDALE', 365),
 ('NORTH LAWNDALE', 83),
 ('NORTH LAWNDALE', 508),
 ('NORTH LAWNDALE', 48),
 ('NORTH LAWNDALE', 271),
 ('NORTH LAWNDALE', 200),
 ('NORTH LAWNDALE', 479),
 ('NORTH LAWNDALE', 512),
 ('NORTH LAWNDALE', 288),
 ('NORTH LAWNDALE', 423),
 ('NORTH PARK', 1636),
 ('NORTH PARK', 363),
 ('NORTH PARK', 860),
 ('NORTH PARK', 1053),
 ('NORTH PARK', 298),
 ('NORWOOD PARK', 160),
 ('NORWOOD PARK', 431),
 ('NORWOOD PARK', 720),
 ('NORWOOD PARK', 359),
 ('NORWOOD PARK', 648),
 ('NORWOOD PARK', 542),
 ('NORWOOD PARK', 2922),
 ('NORWOOD PARK', 687),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 1716),
 ('PORTAGE PARK', 672),
 ('PORTAGE PARK', 203),
 ('PORTAGE PARK', 832),
 ('PORTAGE PARK', 1139),
 ('PORTAGE PARK', 1047),
 ('PORTAGE PARK', 1345),
 ('PULLMAN', 192),
 ('PULLMAN', 621),
 ('PULLMAN', 259),
 ('PULLMAN', 185),
 ('PULLMAN', 363),
 ('RIVERDALE', 532),
 ('RIVERDALE', 546),
 ('RIVERDALE', 285),
 ('RIVERDALE', 184),
 ('ROGERS PARK', 375),
 ('ROGERS PARK', 753),
 ('ROGERS PARK', 886),
 ('ROGERS PARK', 696),
 ('ROGERS PARK', 826),
 ('ROGERS PARK', 532),
 ('ROSELAND', 525),
 ('ROSELAND', 428),
 ('ROSELAND', 688),
 ('ROSELAND', 233),
 ('ROSELAND', 310),
 ('ROSELAND', 504),
 ('ROSELAND', 609),
 ('ROSELAND', 504),
 ('ROSELAND', 783),
 ('ROSELAND', 1245),
 ('ROSELAND', 424),
 ('ROSELAND', 394),
 ('ROSELAND', 373),
 ('SOUTH CHICAGO', 905),
 ('SOUTH CHICAGO', 554),
 ('SOUTH CHICAGO', 472),
 ('SOUTH CHICAGO', 449),
 ('SOUTH CHICAGO', 701),
 ('SOUTH CHICAGO', 435),
 ('SOUTH CHICAGO', 527),
 ('SOUTH DEERING', 286),
 ('SOUTH DEERING', 841),
 ('SOUTH DEERING', 361),
 ('SOUTH DEERING', 371),
 ('SOUTH LAWNDALE', 446),
 ('SOUTH LAWNDALE', 894),
 ('SOUTH LAWNDALE', 631),
 ('SOUTH LAWNDALE', 1456),
 ('SOUTH LAWNDALE', 1133),
 ('SOUTH LAWNDALE', 988),
 ('SOUTH LAWNDALE', 314),
 ('SOUTH LAWNDALE', 713),
 ('SOUTH LAWNDALE', 371),
 ('SOUTH LAWNDALE', 130),
 ('SOUTH LAWNDALE', 388),
 ('SOUTH LAWNDALE', 809),
 ('SOUTH LAWNDALE', 793),
 ('SOUTH LAWNDALE', 1204),
 ('SOUTH LAWNDALE', 654),
 ('SOUTH LAWNDALE', 842),
 ('SOUTH LAWNDALE', 1306),
 ('SOUTH LAWNDALE', 324),
 ('SOUTH LAWNDALE', 525),
 ('SOUTH LAWNDALE', 205),
 ('SOUTH LAWNDALE', 285),
 ('SOUTH LAWNDALE', 382),
 ('SOUTH SHORE', 521),
 ('SOUTH SHORE', 783),
 ('SOUTH SHORE', 238),
 ('SOUTH SHORE', 731),
 ('SOUTH SHORE', 575),
 ('SOUTH SHORE', 317),
 ('SOUTH SHORE', 775),
 ('SOUTH SHORE', 348),
 ('SOUTH SHORE', 255),
 ('UPTOWN', 280),
 ('UPTOWN', 355),
 ('UPTOWN', 362),
 ('UPTOWN', 462),
 ('UPTOWN', 473),
 ('UPTOWN', 1651),
 ('UPTOWN', 805),
 ('WASHINGTON HEIGHTS', 246),
 ('WASHINGTON HEIGHTS', 344),
 ('WASHINGTON HEIGHTS', 478),
 ('WASHINGTON HEIGHTS', 356),
 ('WASHINGTON HEIGHTS', 367),
 ('WASHINGTON HEIGHTS', 290),
 ('WASHINGTON HEIGHTS', 1226),
 ('WASHINGTON HEIGHTS', 445),
 ('WASHINGTON HEIGHTS', 254),
 ('WASHINGTON PARK', 350),
 ('WASHINGTON PARK', 318),
 ('WASHINGTON PARK', 244),
 ('WASHINGTON PARK', 1365),
 ('WASHINGTON PARK', 371),
 ('WEST ELSDON', 1560),
 ('WEST ELSDON', 967),
 ('WEST ELSDON', 1173),
 ('WEST ENGLEWOOD', 339),
 ('WEST ENGLEWOOD', 345),
 ('WEST ENGLEWOOD', 573),
 ('WEST ENGLEWOOD', 407),
 ('WEST ENGLEWOOD', 331),
 ('WEST ENGLEWOOD', 419),
 ('WEST ENGLEWOOD', 402),
 ('WEST ENGLEWOOD', 527),
 ('WEST ENGLEWOOD', 511),
 ('WEST ENGLEWOOD', 916),
 ('WEST ENGLEWOOD', 354),
 ('WEST ENGLEWOOD', 201),
 ('WEST ENGLEWOOD', 621),
 ('WEST GARFIELD PARK', 430),
 ('WEST GARFIELD PARK', 370),
 ('WEST GARFIELD PARK', 414),
 ('WEST GARFIELD PARK', 315),
 ('WEST GARFIELD PARK', 321),
 ('WEST GARFIELD PARK', 245),
 ('WEST GARFIELD PARK', 259),
 ('WEST GARFIELD PARK', 268),
 ('WEST LAWN', 830),
 ('WEST LAWN', 1672),
 ('WEST LAWN', 873),
 ('WEST LAWN', 832),
 ('WEST PULLMAN', 138),
 ('WEST PULLMAN', 340),
 ('WEST PULLMAN', 266),
 ('WEST PULLMAN', 375),
 ('WEST PULLMAN', 489),
 ('WEST PULLMAN', 283),
 ('WEST PULLMAN', 285),
 ('WEST PULLMAN', 352),
 ('WEST PULLMAN', 369),
 ('WEST PULLMAN', 343),
 ('WEST RIDGE', 752),
 ('WEST RIDGE', 1139),
 ('WEST RIDGE', 1509),
 ('WEST RIDGE', 811),
 ('WEST RIDGE', 735),
 ('WEST RIDGE', 289),
 ('WEST RIDGE', 1657),
 ('WEST RIDGE', 646),
 ('WEST RIDGE', 659),
 ('WEST TOWN', 620),
 ('WEST TOWN', 398),
 ('WEST TOWN', 114),
 ('WEST TOWN', 669),
 ('WEST TOWN', 429),
 ('WEST TOWN', 309),
 ('WEST TOWN', 289),
 ('WEST TOWN', 344),
 ('WEST TOWN', 269),
 ('WEST TOWN', 491),
 ('WEST TOWN', 474),
 ('WEST TOWN', 348),
 ('WEST TOWN', 869),
 ('WEST TOWN', 609),
 ('WEST TOWN', 580),
 ('WEST TOWN', 91),
 ('WEST TOWN', 558),
 ('WEST TOWN', 1016),
 ('WEST TOWN', 319),
 ('WEST TOWN', 633),
 ('WOODLAWN', 730),
 ('WOODLAWN', 337),
 ('WOODLAWN', 381),
 ('WOODLAWN', 471),
 ('WOODLAWN', 1518),
 ('WOODLAWN', 277),
 ('WOODLAWN', 254),
 ('WOODLAWN', 238)]

Double-click __here__ for the solution.

<!-- Solution:

%sql select "Name_of_School", "Average_Student_Attendance" from SCHOOLS \
    order by "Average_Student_Attendance" desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [18]:
%sql SELECT "Name_of_School", "Average_Student_Attendance"  \
     from SCHOOLS \
     order by "Average_Student_Attendance" \
     fetch first 5 rows only

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', Decimal('57.9')),
 ('Barbara Vick Early Childhood & Family Center', Decimal('60.9')),
 ('Dyett High School', Decimal('62.5')),
 ('Wendell Phillips Academy High School', Decimal('63.0')),
 ('Orr Academy High School', Decimal('66.3'))]

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT "Name_of_School", "Average_Student_Attendance"  \
     from SCHOOLS \
     order by "Average_Student_Attendance" \
     fetch first 5 rows only

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [19]:
%sql SELECT "Name_of_School", REPLACE("Average_Student_Attendance", '%', '') \
     from SCHOOLS \
     order by "Average_Student_Attendance" \
     fetch first 5 rows only

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.9'),
 ('Barbara Vick Early Childhood & Family Center', '60.9'),
 ('Dyett High School', '62.5'),
 ('Wendell Phillips Academy High School', '63.0'),
 ('Orr Academy High School', '66.3')]

Double-click __here__ for a hint

<!--
Use the REPLACE() function to replace '%' with ''
See documentation for this function at:
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql SELECT "Name_of_School", REPLACE("Average_Student_Attendance", '%', '') \
     from SCHOOLS \
     order by "Average_Student_Attendance" \
     fetch first 5 rows only

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [12]:
%sql SELECT "Name_of_School", "Average_Student_Attendance"  \
     from SCHOOLS \
     where CAST ( REPLACE("Average_Student_Attendance", '%', '') AS DOUBLE ) < 70 \
     order by "Average_Student_Attendance"

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', Decimal('57.9')),
 ('Barbara Vick Early Childhood & Family Center', Decimal('60.9')),
 ('Dyett High School', Decimal('62.5')),
 ('Wendell Phillips Academy High School', Decimal('63.0')),
 ('Orr Academy High School', Decimal('66.3')),
 ('Manley Career Academy High School', Decimal('66.8')),
 ('Chicago Vocational Career Academy High School', Decimal('68.8')),
 ('Roberto Clemente Community Academy High School', Decimal('69.6'))]

Double-click __here__ for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")
-->

Double-click __here__ for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT "Name_of_School", "Average_Student_Attendance"  \
     from SCHOOLS \
     where CAST ( REPLACE("Average_Student_Attendance", '%', '') AS DOUBLE ) < 70 \
     order by "Average_Student_Attendance"
     
or,

%sql SELECT "Name_of_School", "Average_Student_Attendance"  \
     from SCHOOLS \
     where DECIMAL ( REPLACE("Average_Student_Attendance", '%', '') ) < 70 \
     order by "Average_Student_Attendance"

-->

### Problem 8

##### Get the total __College Enrollment (number of students)__ for each Community Area

In [21]:
%sql select "Community_Area_Name", avg("College_Enrollment__number_of_students_") AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by "Community_Area_Name" \
   order by TOTAL_ENROLLMENT desc \
   fetch first 10 rows only

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333')),
 ('NORTH CENTER', Decimal('1077.285714')),
 ('EAST SIDE', Decimal('1061.000000')),
 ('WEST LAWN', Decimal('1051.750000')),
 ('CHICAGO LAWN', Decimal('1012.285714')),
 ('HERMOSA', Decimal('993.750000'))]

Double-click __here__ for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click __here__ for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select "Community_Area_Name", sum("College_Enrollment__number_of_students_") AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by "Community_Area_Name" 

-->

### Problem 9

##### Get the 5 Community Areas with the least total __College Enrollment (number of students)__  sorted in ascending order

In [28]:
%sql select sum("Elementary, Middle, or High School") AS Most_No_ of_Schools from SCHOOLS \
order by TOTAL_ENROLLMENT desc \
fetch first 10 rows only

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "AS" was found following "le, or High School")".  Expected tokens may include:  "AND".  SQLSTATE=42601 SQLCODE=-104 [SQL: 'select sum("Elementary, Middle, or High School") AS Most_No_ of_Schools from SCHOOLS order by TOTAL_ENROLLMENT desc fetch first 10 rows only'] (Background on this error at: http://sqlalche.me/e/f405)

Double-click __here__ for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select "Community_Area_Name", sum("College_Enrollment__number_of_students_") AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by "Community_Area_Name" \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed names. You also used built in database functions.

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).