<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Store the datasets in database tables
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://hcg90289:bw10zlmgx7crb-gb@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='Db2-bo'

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[]

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### How many rows are in each dataset?

In [3]:
# Rows in Census Data (Socieconimic Indicators)
# SELECT count(*) FROM mytable;
%sql SELECT count(*) FROM CENSUS;

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [4]:
# Rows in Public Schools
%sql SELECT count(*) FROM SCHOOLS

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [5]:
# Rows in Crime Data
%sql SELECT count(*) FROM CRIME

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Find average college enrollments by community area

In [6]:
%sql select "Community_Area_Name", avg("College_Enrollment__number_of_students_") as Average_Enrollement from SCHOOLS \
group by "Community_Area_Name" \
order by  Average_Enrollement \
fetch first 15 rows only

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', Decimal('140.000000')),
 ('CALUMET HEIGHTS', Decimal('261.333333')),
 ('FULLER PARK', Decimal('265.500000')),
 ('NORTH LAWNDALE', Decimal('321.625000')),
 ('PULLMAN', Decimal('324.000000')),
 ('WEST PULLMAN', Decimal('324.000000')),
 ('WEST GARFIELD PARK', Decimal('327.750000')),
 ('GRAND BOULEVARD', Decimal('351.125000')),
 ('RIVERDALE', Decimal('386.750000')),
 ('MCKINLEY PARK', Decimal('388.000000')),
 ('ENGLEWOOD', Decimal('401.882352')),
 ('GREATER GRAND CROSSING', Decimal('405.100000')),
 ('BEVERLY', Decimal('409.000000')),
 ('EAST GARFIELD PARK', Decimal('410.538461')),
 ('AUBURN GRESHAM', Decimal('417.500000'))]

### Problem 3

##### Find the number of schools that are healthy school certified

In [7]:
%sql select "Name_of_School", "Healthy_Schools_Certified_" from SCHOOLS \
    where "Healthy_Schools_Certified_" = 'Yes'

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 'Yes'),
 ('Air Force Academy High School', 'Yes'),
 ('Ana Roque de Duprey Elementary School', 'Yes'),
 ('Calmeca Academy of Fine Arts and Dual Language', 'Yes'),
 ('Cyrus H McCormick Elementary School', 'Yes'),
 ('Eli Whitney Elementary School', 'Yes'),
 ('Francisco I Madero Middle School', 'Yes'),
 ('Hawthorne Elementary Scholastic Academy', 'Yes'),
 ('Irma C Ruiz Elementary School', 'Yes'),
 ('John A Walsh Elementary School', 'Yes'),
 ('John C Burroughs Elementary School', 'Yes'),
 ('Jose De Diego Elementary Community Academy', 'Yes'),
 ('Manuel Perez Elementary School', 'Yes'),
 ('Nathanael Greene Elementary School', 'Yes'),
 ('Rufus M Hitch Elementary School', 'Yes'),
 ('Sharon Christa McAuliffe Elementary School', 'Yes')]

### Problem 4

##### How many observations have a Location Description value of GAS STATION

In [8]:
%sql select count(*) from CRIME where "Location_Description" = 'GAS STATION'

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

### Problem 5

##### Retrieve a list of the top 10 community areas which have most number of schools and sorted in descending order.

In [9]:
%sql select count(*) as Schools_total, "Community_Area_Name" as Community from SCHOOLS \
group by "Community_Area_Name" \
order by Schools_total \
desc \
fetch first 10 rows only

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('23'), 'AUSTIN'),
 (Decimal('22'), 'SOUTH LAWNDALE'),
 (Decimal('20'), 'WEST TOWN'),
 (Decimal('17'), 'ENGLEWOOD'),
 (Decimal('16'), 'NEAR WEST SIDE'),
 (Decimal('16'), 'NORTH LAWNDALE'),
 (Decimal('13'), 'EAST GARFIELD PARK'),
 (Decimal('13'), 'ROSELAND'),
 (Decimal('13'), 'NEW CITY'),
 (Decimal('13'), 'HUMBOLDT PARK')]

### Problem 6

##### How many observations have value MOTOR VEHICLE THEFT in the Primary Type variable (this is the number of crimes related to Motor vehicles)

In [10]:
%sql select "Primary_Type", "Description" from CRIME \
    where "Primary_Type" = 'MOTOR VEHICLE THEFT'

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'THEFT/RECOVERY: AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'THEFT/RECOVERY: AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'ATT: AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'TRUCK, BUS, MOTOR HOME'),
 ('MOTOR VEHICLE THEFT', 'THEFT/RECOVERY: AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE'),
 ('MOTOR VEHICLE THEFT', 'AUTOMOBILE')]

### Problem 7

##### Find the minimum “Average Student Attendance” for community are where hardship is 96. Hint: use INNER JOIN

In [67]:
#%sql SELECT CE."COMMUNITY_AREA_NAME" FROM CENSUS as CE where CE."HARDSHIP_INDEX" = 96.0 

#%sql select SC."Community_Area_Name", SC."Average_Student_Attendance" from SCHOOLS as SC \
#    INNER JOIN CENSUS as CE on SC."Community_Area_Name" = CE."COMMUNITY_AREA_NAME" \
#    where CE."HARDSHIP_INDEX" = '96' \
#    order by SC."Average_Student_Attendance"

%sql select* from CRIME fetch first 10 rows only
#%sql select* from SCHOOLS fetch first 3 rows only
#%sql select S."Community_Area_Name" from SCHOOLS as S where S."Community_Area_Name" = 'CHATHAM'

 * ibm_db_sa://hcg90289:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '08/28/2004 05:50:56 PM', '047XX S KEDZIE AVE', '0890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'False', 'False', 911, Decimal('9.0'), Decimal('14.0'), Decimal('58.0'), '06', Decimal('1155838.0'), Decimal('1873050.0'), 2004, '02/10/2018 03:50:01 PM', '41.807440500000006', Decimal('-87.70395584900000'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '06/26/2004 12:40:00 PM', '009XX N CENTRAL PARK AVE', '0820', 'THEFT', '$500 AND UNDER', 'OTHER', 'False', 'False', 1112, Decimal('11.0'), Decimal('27.0'), Decimal('23.0'), '06', Decimal('1152206.0'), Decimal('1906127.0'), 2004, '02/28/2018 03:56:25 PM', '41.898279962', Decimal('-87.71640550500000'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '04/04/2011 05:45:00 AM', '043XX S WABASH AVE', '0820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'False', 'False', 221, Decimal('2.0'), Decimal('3.0'), Decimal('38.0'), '06', Decimal('1177436.0'), Decimal('1876313.0'), 2011, '02/10/2018 03:50:01 PM', '41.815933131', Decimal('-87.62464212700000'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '12/30/2010 04:30:00 PM', '083XX S KINGSTON AVE', '0840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'False', 'False', 423, Decimal('4.0'), Decimal('7.0'), Decimal('46.0'), '06', Decimal('1194622.0'), Decimal('1850125.0'), 2010, '02/10/2018 03:50:01 PM', '41.743665322', Decimal('-87.56246275600000'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '02/02/2016 07:30:00 PM', '033XX W 66TH ST', '0820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'False', 'False', 831, Decimal('8.0'), Decimal('15.0'), Decimal('66.0'), '06', Decimal('1155240.0'), Decimal('1860661.0'), 2016, '02/10/2018 03:50:01 PM', '41.773455295', Decimal('-87.70648047100000'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '09/29/2010 07:59:00 AM', '006XX W CHICAGO AVE', '0810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'False', 'False', 1323, Decimal('12.0'), Decimal('27.0'), Decimal('24.0'), '06', Decimal('1171668.0'), Decimal('1905607.0'), 2010, '02/10/2018 03:50:01 PM', '41.896446772', Decimal('-87.64493867799999'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '11/30/2016 01:15:00 AM', '050XX N KEDZIE AVE', '0810', 'THEFT', 'OVER $500', 'STREET', 'False', 'False', 1713, Decimal('17.0'), Decimal('33.0'), Decimal('14.0'), '06', Decimal('1154133.0'), Decimal('1933314.0'), 2016, '02/10/2018 03:50:01 PM', '41.972844913', Decimal('-87.70860007899999'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '12/16/2005 04:45:00 PM', '005XX E PERSHING RD', '0860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'True', 'False', 213, Decimal('2.0'), Decimal('3.0'), Decimal('38.0'), '06', Decimal('1180448.0'), Decimal('1879234.0'), 2005, '02/28/2018 03:56:25 PM', '41.823879885', Decimal('-87.61350385700001'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '01/28/2005 05:00:00 PM', '100XX S WASHTENAW AVE', '0810', 'THEFT', 'OVER $500', 'STREET', 'False', 'False', 2211, Decimal('22.0'), Decimal('19.0'), Decimal('72.0'), '06', Decimal('1160129.0'), Decimal('1838040.0'), 2005, '02/28/2018 03:56:25 PM', '41.711280513', Decimal('-87.68917909700001'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '05/13/2004 02:15:00 PM', '033XX W BELMONT AVE', '0820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'False', 'False', 1733, Decimal('17.0'), Decimal('35.0'), Decimal('21.0'), '06', Decimal('1153590.0'), Decimal('1921084.0'), 2004, '02/28/2018 03:56:25 PM', '41.939295821', Decimal('-87.71092344200001'), '(41.939295821, -87.710923442)')]

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).